
/*Body*/

body, h1 ,h2 ,p ,ul ,li ,a {
    margin: 0px;
    padding: 0px;
}

body {
    background: #e7e9e7;
    color: #555;
    font-family: monospace, Helvetica, sans-serif ;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}


* {
    box-sizing: border-box;
}



/*Menu*/

.menu {
    background: #252525;
    padding: 15px 0;
}

.menu-nav a {
    text-decoration: none;
    font-size: 1.125em;
}

.menu-logo {
    margin: 0 10px;
}

.menu-nav {
    flex: 1;
    margin: 0 10px;
    align-self: center;
}

.menu-nav ul {
    float: right;
    display: flex;
    list-style: none;
}

.menu-nav ul, li, a {
    padding: 10px;
    color: #e7e9e7;
    width: 0 10px;
}


/*Sobre*/

.sobre {
  display: block;
}

.sobre > h1 {
    margin: 60px;
    text-align: start;
    margin-top: 5px;
    padding: 60px 0;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}

.sobre-item {
    flex: 1;
    max-width: 420px;
}

.sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre-item > p {
    margin: 0 10px; 
    font-style: italic;
	font-weight: bold;
    font-size: 1.125em;
    line-height: 2.25em;
}

/*Cadastro*/

.cadastro  h2 {
    margin: 60px;
    text-align: start;
    margin-top: 5px;
    padding: 80px 0;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}



.cadastro a {
    width: 24px;
    height: 24px;
    color:#252525;
    background: #b2b4b2;
    padding: 10px;
    top: 200px;
}









/*Contato*/

.contato > h3 {
    margin: 60px;
    text-align: start;
    margin-top: 5px;
    padding: 60px 0;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}






