
/*Body*/

body, h1 , h2 , p , a {
    margin: 0px;
    padding: 0px;
}

body {
    background: #e7e9e7;
    color: #555;
    font-family: monospace, Helvetica, sans-serif ;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}


* {
    box-sizing: border-box;
}



/*Menu*/

.menu-bg {
    background: blue;
}

.menu {
    background: rgb(91, 91, 248);
    max-width: 960px;	
	margin: 0 auto;
	padding: 0 auto;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-nav ul {
	display: flex;
    flex-wrap: wrap;

}


.menu-nav a {
	font-size: 1.25em;
    display: block;
    padding: 10px;
    justify-content: space-between; 
  
}

.menu-nav a:hover {
    color: #555;
}

  



/*Section imagem*/






